.modal{
    border: 1px solid black;
    width: 480px;
    background-color: white;
    padding: 10px;
    cursor: default;
}

.modal header{
    background-color: #ebebeb;
    color:#555555;
    margin: 0 0 10px 0;
}

.modal .content{
    margin: 5px 0;
}

.modal footer{
    margin: 10px 0 0 0;
}

.modal footer button{
    width: 100%;
    font-size: 18px;
    padding: 6px;
    cursor: pointer;
    margin-left: 0;
    transition: 0.3s;
}

.modal footer button:hover{
   background-color: #4d4848;
}